{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
<div class="jumbotron text-center">
    <h2>Mon Agence d'immobilier</h2>
    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
</div>
<div class="container">
    <h2>Les derniers biens</h2>
    <div class="row">
        {% for property in properties %}
            <div class="col-md-4">
                <div class="card">
                      <div class="card-body">
                          <h3 class="card-title">
                                <a href="{{ path('proprety.show' ,{id: property.id, slug: property.slug}) }}">{{ property.title }}</a>
                          </h3>
                          <p class="card-text">{{ property.city }} ({{ property.postalCode }})</p>
                          <div class="text-pripary">{{ property.getFormatToPrice() }} €</div>
                      </div>



                </div>
            </div>
        {% endfor %}
    </div>
</div>


{% endblock %}
